<!DOCTYPE html>
<html lang="en">


<!-- Adds the Head Partial. -->
<%- include('./partials/_head'); %>


<!-- THE BODY -->
<body>

  <!-- Adds the Navigation Bar Partial. -->
  <%- include('./partials/_navbar'); %>


  <!-- MAIN CONTAINER -->
  <main id="main-container" class="container">

    <!-- Product Card -->
    <section>

      <div class="text-center">

        <!-- Product Image -->
        <img src="<%= item.images_url %>" class="rounded" alt="Product Image">

        <br>
        <br>

        <!-- Product Information -->
        <!-- Product Category -->
        <div class="text-center"><strong><%=item.title %></strong>

          <br>
          <br>

          <%=item.description%>

        </div>


        <!-- Contact Seller Button -->

        <div class="d-grid gap-2 col-3 my-5 mx-auto">
          <button class="btn btn-info" id="messageButton" type="button" style="margin-top:25px; margin-bottom:10px;">Contact Seller</button>
          <div class="alert" id="alertMessage" style="display:none; color:red;">
            <span></span>
            Please log in to contact the seller of this item.
          </div>
          <form class="messageForm" id="messageForm" style="display:none; margin-top:20px;">
            <textarea placeholder="Type your message here" style="height: 200px; width: 400px; "></textarea>
            <br>
            <button class="btn btn-outline-secondary" type="submit">Send</button>
          </form>
        </div>


    </section>

  </main>


  <!-- Add the Footer from partials folder -->
  <%- include('./partials/_footer'); %>

</body>

</html>
